<form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm)">
  <fieldset>
    <input
      type="text"
      [ngClass]="{ 'is-valid': name.valid }"
      ngModel
      #name="ngModel"
      placeholder="Trainer name"
      id="name"
      name="name"
      required
      minlength="2"
      maxlength="80"
    />
  </fieldset>

  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="loginForm.form.invalid"
  >
    Login
  </button>
</form>
