.pokemonCard {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 2px 3px 3px 3px grey;
}

.pokemonCard:hover {
  box-shadow: 2px 3px 3px 3px lightblue;
}

.pokemonCardClicked {
  box-shadow: 2px 3px 3px 3px lightgreen;
}

.pokemonCardClicked:hover {
  box-shadow: 2px 3px 3px 3px lightgreen;
}
