<div class="container">
  <h3>Collection</h3>
  <p>Logged in as: {{ trainerName }}</p>
  <p>Click on a pokemon to remove it from your collection.</p>

  <button class="btn btn-primary" [routerLink]="'/catalogue'">
    See all pokemon!
  </button>

  <section class="collection mt-5 mb-5">
    <app-pokemon-card
      *ngFor="let pokemon of collection"
      [pokemon]="pokemon"
      [collectionNames]="collectionNames"
    ></app-pokemon-card>
  </section>
</div>
