<div class="container mt-3">
  <button class="btn btn-primary" [routerLink]="'/trainer'">
    See your collection
  </button>

  <section class="catalogue mt-5 mb-5">
    <app-pokemon-card
      *ngFor="let pokemon of catalogue"
      [pokemon]="pokemon"
      [collectionNames]="collectionNames"
    ></app-pokemon-card>
  </section>

  <button
    class="btn btn-primary"
    (click)="onPreviousClick()"
    [disabled]="getPage == 1"
  >
    Previous
  </button>
  <button class="btn btn-primary" (click)="onNextClick()">Next</button>
</div>
